.section__content {
    background-color: #FDF0E9;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.section__content__blok {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.content__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 15px;
    column-gap: 20px;
    .load__more {
        margin: 0 auto;
    }
}

.load_more {
    margin: 20px 0;
    button {
        cursor: pointer;
        color: #000;
        outline: none;
        border-color: #FFFFFF;
        background: #FFFFFF;
        border-radius: 5px;
        padding: 8px 30px;
        font-size: 13px;
        text-transform: uppercase;
    }
}

@media (min-width: 1040px) {
    .section__content {
       .content__card {
           flex-direction: row;
           flex-wrap: wrap;
       }
    }
}